.todosList_container {
	background: linear-gradient(
		180deg,
		rgba(2, 0, 36, 1) 0%,
		rgba(4, 30, 113, 0.8407738095238095) 0%,
		rgba(12, 184, 219, 1) 100%
	);
	width: 32%;
	height: 100%;
	border-radius: 8px;
	position: relative;
	.add {
		display: flex;
		justify-content: center;
		padding: 20px;
		.add_button {
			background: none;
			border: none;
			color: white;
			font-size: 2rem;
			text-align: center;
			padding: 14px;
			outline: none;
		}
	}
	.add-tasks {
		display: flex;
		width: 96%;
		height: 38px;
		border: 1px solid #c7c2c2;
		margin: 0 auto;
		position: relative;
		animation: mymove 0.6s;
		margin-bottom: 9px;
		input {
			width: 91%;
			outline: none;
			background: transparent;
			border: none;
			color: white;
			padding: 10px;
			font-weight: bold;
		}

		button {
			background: transparent;
			color: white;
			font-weight: bold;
			border: none;
			font-size: 18px;
		}
	}
	.signOut {
		position: absolute;
		top: 93%;
		left: 50%;
		transform: translateX(-50%);
		.signOut_button {
			background: transparent;
			border: none;
			color: white;
			font-size: 2rem;
			outline: none;
		}
	}
	.selected {
		background: #1c7eb2;
	}
	ul {
		padding-left: 0;
		margin: 0;
		li {
			list-style: none;
			font-size: 1.2em;
			color: white;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			padding: 14px 14px;
			align-items: center;
			font-weight: bold;

			&:first-child {
				border-top: 1px solid #ada5a545;
				border-bottom: none;
			}
			border-bottom: 1px solid #ada5a545;
			border-top: 1px solid #ada5a545;
			svg {
				margin: 0 5px;
			}
		}
	}
}

@keyframes mymove {
	from {
		transform: translateY(-14px);
	}
	to {
		transform: translateY(0px);
	}
}
